// IMPORTS
@import '../../../styles/extends';
@import '../../../styles/vars';

// COMPONENT
.Icon {
  height: 2.5rem;
  width: 2.5rem;
  stroke-width: $stroke-width;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: currentColor;
  fill: none;
}
