// IMPORTS
@import '../../../styles/extends';
@import '../../../styles/vars';

// COMPONENT
.MemberDeleteButton {
  @extend %flex-row-nowrap;
  @extend %flex-center;
  @extend %error;

  cursor: pointer;

  padding: 0 1rem;
  min-height: $size;
  max-height: $size;
  height: $size;
}

// FOCUS
.MemberDeleteButton:focus {
  @extend %error-bright;
}

// HOVER
.MemberDeleteButton:hover {
  @extend %error-bright;
}
