// IMPORTS
@import './styles/extends';
@import './styles/vars';

// COMPONENT
.App {
  @extend %flex-row-nowrap;
  @extend %flex-start;
  align-items: stretch;

  max-width: 100%;
  width: 100%;

  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;

  overflow: hidden;

  // NAVIGATION
  .Navigation {
    flex-shrink: 0;
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;

    @extend %primary;

    border: none;
    border-right: solid $border-width $primary-border;
    border-radius: 0;
  }

  // SIDEBAR
  .Sidebar {
    flex-shrink: 0;
    flex-grow: 1;

    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;

    min-width: 30rem;
    max-width: 60rem;
    width: 100%;

    @extend %primary;

    border: none;
    border-right: solid $border-width $primary-border;
    border-radius: 0;

    overflow-x: hidden;
    overflow-y: auto;
  }

  // BODY
  .Body {
    flex-grow: 1;

    min-width: 60rem;

    @extend %primary;

    border-radius: 0;
    overflow: auto;
    border: none;
  }
}
